/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

/*Code étape 3(header)-14/03/24--AC*/
header, main {
   /* margin: 0 50px;*/
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
}

#logo{
    margin-top: 25px;
    width: 64px;
    height: 19px;
}

nav{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.lien-element{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid transparent ;
}

.lien-element:hover{
    border-top: 2px solid blue ;
}

.bordure-bleue{
    height: 3px;
    background-color: #f2f2f2;
    margin-bottom: 40px;
}

nav a{
    text-decoration: none;

}

.element{
    color: black;
    padding: 0 50px;
}

.element :hover{
    color: #0065fc;
    font-weight: 600;
}

.lien-element :hover > .bordure-bleue {
    background-color: #0065FC;
}

.active-lien > .bordure-bleue{
    background-color: #0065FC;
}

.active-lien > .element {
    color: #0065FC;
}

/* FIN Code étape 3(header)-14/03/24--AC*/


.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*** Module-recherche ***/

.module-recherche {
    /*height: 17.5625em;*/
    display: flex;
    flex-direction: column;
    gap: 2.1875em;
    margin-bottom: 2.1875em;
}
/* Titres */

.titre-para {
    /*height: 3.3125em;*/
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
h1 {
    font-size: 1.375em;
    margin: 0;
    padding: 0;
}

.titre-sub {
    margin: 0em;
}

/* barre de recherche */

.barre-de-recherche {
    width: 23.5625em;
    /*height: 3.0625em;*/
}

.bordure-recherche {
    background-color: white;
    display: flex;
    border: 0.03125em solid #F2F2F2;
    border-radius: 0.9375em;
}

.icon-recherche {
    width: 3.125em;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0.9375em;
    border-bottom-left-radius: 0.9375em;
}

.texte-recherche {
    display: flex;
}

::placeholder{
    color: black;
}

input {
    width: 12.0625em;
    border-style: none;
    outline: none;
    padding-left: 1.5em;
    font-size: 1.125em;
    font-weight: bold;
    color: black;
}

.bouton-recherche {
    background-color: #0065FC;
    width: 8.25em;
    height: 3.0625em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 0.9375em;
    border-bottom-right-radius: 0.9375em;
    color: white;
    cursor: pointer;
}

.bouton-recherche i {
    display: none;
}

.bouton-recherche p {
    font-size: 1.125em;
    font-weight: bold;
}

/* filtres */

.filtres {
    display: flex;
    align-items: center;
    gap: 0.9375em;
}

.filtres h2 {
    font-size: 1.125em;
    margin: 0;
    padding: 0;
}

.boutons-filtre {
    display: flex;
    gap: 0.9375em;
    cursor: pointer;
}
.filtres h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0625em;
}

.economique , .familial, .romantique, .pepites{
    height: 3.125em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.125em solid #F2F2F2;
    border-radius: 3.125em;
    gap: 0.6875em;
    padding: 0em 1.125em;
}
.economique:hover, .familial:hover, .romantique:hover, .pepites:hover {
    background-color:#DEEBFF;
}

/* bulle-info */

.bulle-info {
      /* height: 0.625em; */
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.6875em;
      /* padding-bottom: 0.625em;*/
}

.bulle-info p {
    margin: 0em;
}

.fa-info{
    border: 1px solid #F2F2F2;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****Hebergements et Populaires****/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

/***** Hebergements *****/
.hebergements {
    width: 65%;
    height: 38.375em;
    display: flex;
    flex-direction: column;
    padding: 1.875em;
    gap: 1.875em;
    box-sizing: border-box;
}

.hebergement-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.hebergement-cards .card {
    height: 12.953125em;
    box-sizing: border-box;
}

.hebergement-cards a {
    width:30.85%;
}

.hebergement-cards img {
    width: 100%;
    height: 7.75em;
    border-top-left-radius: 1.25em;
    border-top-right-radius: 1.25em;
}

.hebergement-cards .card-content {
    width: 100%;
    height: 4.015625em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergement-cards .card-title, .hebergement-cards .card-subtitle {
    margin-top: 0em;
    margin-bottom: 0em;
}

.afficher-plus{
    font-size: 1.125em;
    font-weight: bold;
}

.afficher-plus:hover {
    text-decoration: underline;
}

/****fin Partie 6 et commencement Partie 7---27/03/24---AC****/

/***** Populaires *****/

.populaires {
    display: flex;
    flex-direction: column;
    width: 32%;
    padding: 1.875em;
    box-sizing: border-box;
    gap: 1.875em;
}


.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 1.875em;
}
.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 8.5em;
    border-top-left-radius: 1.25em;
    border-bottom-left-radius: 1.25em;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****Activités****/

.activites{
    display: flex;
    flex-direction: column;
    gap: 1.875em;
    padding: 1.875em;
}

.activites .card{
    padding: 0;
    height: 100%;
}

.activites-cards {
    display: flex;
    gap:1.875em;
}

.activites-cards a {
    width: 23.2%;
    box-sizing: border-box;
}

.activites-cards img{
    width: 100%;
    height: 23.75em;
    border-top-left-radius: 1.25em;
    border-top-right-radius: 1.25em;
    object-fit: cover;
}

.activites-cards .card-content{
    display: flex;
    flex-wrap: wrap;
}

.activites-cards .card-title{
    padding-left: 1.25em;
    display: flex;
    flex-wrap: wrap;
}


/****Footer****/

footer{
    margin: 70px 20px 0 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f2f2f2;
    width: 100%;
}

.footer-title {
    margin-bottom: 15px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
    width: 30%;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-link {
    margin-bottom: 10px;
    font-weight: 500;
}

.footer-link:hover {
    color: #0065FC;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

    .activites .card{
        height: 14.75em;
    }

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
/* barre de recherche */

    .barre-de-recherche {
    width: 100%;
    /*height: 3.0625em;*/
}

    .activity-article {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0;
    height: 250px;
} 


    .filters-ul {
        justify-content: center;
        
    } 

    .filters-li {
        width: 47%;
        margin: 0 5px 10px 0;
    }

    .icon-filters {
        padding: 20px 15px ;   
    }    

    .filters p {
        margin: 0;
    }

    .recherche {
        justify-content: center;
        margin-top: 30px;
        width: 100%;
    }

    .header{
        flex-wrap: wrap;
        margin: 0 0 30px 0;
        width: 100%;
     }
 
     .logo {
       display: flex;
       justify-content: center;
       margin: 30px 0 20px 0;
       width: 100%;
     }
 
 
     .lien-hebergements {
         width: 50%;
         margin: 0;
     }
 
     .lien-hebergements:hover {
         color: #0065FC;
         border-bottom: 0.2rem solid #0065FC;
         border-top: none;   
     }
 
     .hebergements-article {
        width: 100%;
        margin: 0 0 30px 0;
    }

    .hebergements-section {
        background-color: transparent;
        margin-bottom: 30px;
    }

    .hebergements-title {
        margin: 40px 0 20px 0;
    }


    .populaires-article {
        display: block;
        width: 90%;
        margin: 0 10px 20px 12px;    
    }

    .populaires {
        display: flex;
    }

    .populaires-title {
        margin: 10px 20px 0 20px;
    }

    .populaires-section {
        width: 100%;
        height: auto;
    }

}